* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("assets/bg weboom.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    margin-top: 100px;
    text-align: center;
}

header .atas {
    font-size: 40px;
    color: white;
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    line-height: 1;
}

header .bawah {
    font-size: 60px;
    color: white;
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
}

.container {
    position: relative;
}
.gambar {
    width: 16%;
    position: absolute;
    left: 200px;
    top: 100px;
    cursor: pointer;
}

.gambar2 {
    width: 19%;
    position: absolute;
    right: 200px;
    top: 101px;
    cursor: pointer;
}

.gambar3 {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    pointer-events: none;
    transform: translateY(90px);
}

.gambar4 {
    width: 130px;
    position: absolute;
    pointer-events: none;
    right: 40px;
    top: 300px;
}

.gambar5 {
    width: 130px;
    position: absolute;
    pointer-events: none;
    left: 160px;
    top: 70px;
    z-index: -5;
}

.gambar6 {
    width: 130px;
    position: absolute;
    pointer-events: none;
    left: 100px;
    top: 500px;
    transform: rotate(-40deg);
}
