* {
    font-family: 'Hachi Maru Pop';
    text-align: center;
    color: white;
}

body {
    background-image: url("assets/bg weboom.png");
    background-attachment: scroll;
}

header {
    font-size: 20px;
}

.maincon p {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.maincon span {
    background-image: linear-gradient(to right, blue, pink,  purple);
    font-family: 'Poppins', sans-serif;
    background-clip: text;
    color: transparent;
    background-clip: text;
    color: transparent;
}

.button {
    background: none;
    text-decoration: none;
    padding: 10px;
    border: 2px white solid;
    border-left: 1px;
    border-right: 1px;
    border-radius: 60px;
    font-size: 30px;
    transition: opacity 0.3s;
}

.button:hover {
    opacity: 0.5;
}

.button:active {
    opacity: 1;
}

.imgs img{
    margin: 30px;
    width: 70%;
}

